.App {
  text-align: center;
  position: relative;
  /* top: 85px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.toggle-text {
  width: 300px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333; 
  background-color: #f0f0f0; 
  padding: 6px 0px 6px 5px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  text-align: center; 
  cursor: pointer; 
  user-select: none; 
  transition: background-color 0.3s;
  
  margin-left: 915px;
  margin-top: -156px;
  position: relative;
  right: 0px;
  bottom: -24px;
}

.toggle-text span {
  text-decoration: underline; 
  color: #0077cc; 
}

.toggle-text:hover {
  background-color: #ddd; 
}
