@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Reset some default styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Base styles */
body {
  font-family: "Quicksand", sans-serif;
  background-color: #EFEBE0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #4C5270;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.navbar h1 {
  color: #f1356d;
  font-size: 24px;
  margin: 0;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links a {
  text-decoration: none;
  color: white;
  background-color: #f1356d;
  border: 2px solid #f1356d;
  border-radius: 8px;
  padding: 6px 16px;
  margin-left: 16px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .links a:hover {
  background-color: transparent;
  color: #f1356d;
}


.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: left;
}


.todo-list {
  border: 1px solid #033765c4;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.todo-list h1 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px;
  border: 1px solid #033765c4;
}

table th {
  background-color: #033765c4;
  color: white;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: #EFE7D3;
}

/* Add Todo */
.add-todo {
  background-color: #fff;
  border: 1px solid #033765c4;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.add-todo h2 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 20px;
}

.add-todo input,
.add-todo textarea,
.add-todo select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #033765c4;
  border-radius: 4px;
}

.add-todo select {
  appearance: none;
  background-color: white;
  border: 1px solid #033765c4;
  border-radius: 4px;
  padding: 10px;
}

.add-todo button {
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.add-todo button:hover {
  background-color: #f26a99;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

.actions-container button {
  margin-right: 10px; /* Add margin-right to space the buttons evenly */
}

.home{
  width: 900px;
  position: relative;
  left: 545px;
}

.HP-img{
  height: 400px;
  width: 400px;
  position: relative;
  right: 680px;
   top: 100px;
}

.main1{
  position: relative;
  bottom: 390px;
}

.navbar1 {
  background-color: #3d3d3e;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.navbar1 h1 {
  color: #f1356d;
  font-size: 24px;
  margin: 0;
}

.navbar1 .links {
  display: flex;
  align-items: center;
}

.navbar1 .links a {
  text-decoration: none;
  color: white;
  background-color: #f1356d;
  border: 2px solid #f1356d;
  border-radius: 8px;
  padding: 6px 16px;
  margin-left: 16px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar1 .links a:hover {
  background-color: transparent;
  color: #f1356d;
}
