/* SignupForm.css */
.signup-form-container {
    max-width: 1050px;
    height: 575px;
    margin: auto;
    background-color: #f0e6e6;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 70px 100px 100px 80px;
    margin-top: 30px;
     
      
      
      /* margin: 5px 5px 5px 5px; */
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      display: block;
      font-weight: bold;
      color: #333;
    }
    
    input {
      width: 220px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
   
    
    .signup-button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      position: relative;
      left: 0px;
    }
    
    .signup-button:hover {
      background-color: #0056b3;
    }
    
    .Content{
      width: 1050px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .log-img1 img{
      width: 600px; 
      height: 650px ; 
      /* object-fit: cover; */
      position: relative;
      top: 66px;
      bottom: 2px;
      right: 207px;
      left: 280px;
  
    }
   
    .log-img{
      
      max-width: 500px;
      max-height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 300px;
      
      
    }
  
    .auth-form1{
      position: relative;
      right: 600px;
      top: 50px;
      animation: jelly 0.5s 2;
    }

    @keyframes jelly {
      0%, 100% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.2, 0.85);
      }
      50% {
        transform: scale(0.8, 1.15);
      }
      75% {
        transform: scale(1.1, 0.9);
      }
    }
    
    
    .title1{
      position: relative;
      bottom: 50px;
    }